html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

#memory_gameboard {
    width: 870px;
    min-height: 600px;
    background: linear-gradient(160deg, #125908 0%,#89c481 75%);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.memory_card {
    position: relative;
    transition: all 0.25s ease-in-out;
    height: 125px;
    width: 125px;
}

.memory_card_front,
.memory_card_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    backface-visibility: hidden;
    transition: all 0.25s ease-in-out;
}

.memory_card_front {
    transform: rotateY(180deg);
}

.memory_card.flipped .memory_card_front,  
.memory_card.matched .memory_card_front {
    transform: rotateY(360deg);
  
}

.memory_card.flipped .memory_card_back, 
.memory_card.matched .memory_card_back {
    transform: rotateY(180deg);
}

.memory_card.matched {
    
}

.memory_card_back {
    
}
.memory_card:hover {
    transform: scale(1.1);
}

/* #memory_gameboard .memory_card.open {
    transform: rotateY(0);
    cursor: default;
}

#memory_gameboard .memory_card.match {
    cursor: default;
}

.select {

} */

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


  
  